.PlayWithTouchRow-module__childContainer___vhOq7 {
    display: inline-block;
    vertical-align: bottom
}

.PlayWithTouchRow-module__childContainer___vhOq7:not(:last-child) {
    margin-right: 16px
}

.PlayWithTouchRow-module__card___ZtAmO {
    cursor: pointer;
    height: 192px;
    width: 128px
}

body[data-theme=light] .PlayWithTouchRow-module__card___ZtAmO {
    box-shadow: 0 2px 6px 0 #00000080
}

body[data-theme=dark] .PlayWithTouchRow-module__card___ZtAmO {
    box-shadow: 0 2px 6px 0 #00000080
}

@media (min-width: 568px) and (max-height:480px) {
    .PlayWithTouchRow-module__card___ZtAmO {
        height:231px;
        width: 154px
    }
}

@media (min-width: 480px) and (min-height:calc(480px + 1px)) {
    .PlayWithTouchRow-module__card___ZtAmO {
        height:234px;
        width: 156px
    }
}

@media (min-width: 1024px) and (min-height:calc(480px + 1px)) {
    .PlayWithTouchRow-module__card___ZtAmO {
        height:259.5px;
        width: 173px
    }
}

@media (min-width: 1366px) and (min-height:calc(480px + 1px)) {
    .PlayWithTouchRow-module__card___ZtAmO {
        height:297px;
        width: 198px
    }
}

@media (min-width: 1920px) and (min-height:calc(480px + 1px)) {
    .PlayWithTouchRow-module__card___ZtAmO {
        height:309px;
        width: 206px
    }
}

body[data-media-type=tv] .PlayWithTouchRow-module__card___ZtAmO {
    height: 420px;
    width: 280px
}

@media (min-width: 480px) and (min-height:calc(480px + 1px)) {
    .PlayWithTouchRow-module__showAllCard___YQ-KX {
        display:none
    }
}

body[data-media-type=tv] .PlayWithTouchRow-module__showAllCard___YQ-KX {
    display: inline-block
}

.GameCardContextMenu-module__container___-IKqw {
    display: flex;
    flex-direction: column;
    gap: 8px
}

body[data-media-type=tv] .GameCardContextMenu-module__container___-IKqw {
    gap: 16px
}

.GameCardContextMenu-module__title___U5Hn1 {
    display: none
}

body[data-media-type=tv] .GameCardContextMenu-module__title___U5Hn1 {
    color: var(--gds-contentPrimary);
    display: unset;
    font-family: var(--gds-fontramp-title3-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-title3-fontSize);
    font-weight: unset;
    line-height: var(--gds-fontramp-title3-lineHeight);
    margin: 8px
}

.GameCardContextMenu-module__option___hlm\+V {
    color: var(--gds-contentPrimary);
    font-family: var(--gds-fontramp-caption-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-caption-fontSize);
    font-weight: unset;
    justify-content: left;
    line-height: var(--gds-fontramp-caption-lineHeight);
    width: 100%
}

.GameCardContextMenu-module__errorContainer___75WWF {
    font-family: var(--gds-fontramp-section3-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-section3-fontSize);
    font-weight: unset;
    height: calc(var(--gds-button-medium-height)*3 + var(--gds-fontramp-section3-lineHeight));
    justify-content: center;
    line-height: var(--gds-fontramp-section3-lineHeight);
    text-align: center
}

body[data-media-type=tv] .GameCardContextMenu-module__errorContainer___75WWF {
    height: calc(var(--gds-button-medium-height)*2 + var(--gds-fontramp-section3-lineHeight))
}

.GameCardContextMenu-module__titleSkeleton___GHCdW {
    height: var(--gds-fontramp-title3-lineHeight);
    width: 75%
}

.GameCardContextMenu-module__buttonSkeleton___P6nBi {
    height: calc(var(--gds-button-medium-height)*3)
}

body[data-media-type=tv] .GameCardContextMenu-module__buttonSkeleton___P6nBi {
    height: calc(var(--gds-button-medium-height)*2)
}

.LeavingDate-module__background___nesFU {
    background-color: var(--gds-backplateSolidSecondaryRest);
    border-radius: 4px;
    padding: 12px
}

.Details-module__container___-VWpP {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 480px) and (min-height:calc(480px + 1px)) {
    .Details-module__container___-VWpP {
        justify-content:flex-start;
        min-height: calc(var(--gds-fontramp-title2-lineHeight)*2 + var(--gds-fontramp-subtitle2-lineHeight))
    }
}

.Details-module__title___C9ajy {
    -webkit-line-clamp: 2;
    font-family: var(--gds-fontramp-title3-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-title3-fontSize);
    line-height: var(--gds-fontramp-title3-lineHeight)
}

.Details-module__subtitle___ClZYz,.Details-module__title___C9ajy {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: unset;
    overflow: hidden;
    text-overflow: ellipsis
}

.Details-module__subtitle___ClZYz {
    -webkit-line-clamp: 1;
    font-family: var(--gds-fontramp-subtitle3-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-subtitle3-fontSize);
    line-height: var(--gds-fontramp-subtitle3-lineHeight)
}

body[data-theme=light] .Details-module__subtitle___ClZYz {
    color: var(--gds-contentSecondary)
}

body[data-theme=dark] .Details-module__subtitle___ClZYz {
    color: var(--gds-contentSecondary)
}

.Details-module__badge___rsdB3 {
    background-color: transparent;
    display: block;
    padding-left: 0;
    padding-right: 0
}

@media (min-width: 480px) and (min-height:calc(480px + 1px)) {
    .Details-module__badge___rsdB3 {
        display:none
    }
}

.Details-module__skeletonContainer___eATLM {
    row-gap: 12px
}

.Details-module__titleSkeleton___hYyW0 {
    height: var(--gds-fontramp-title2-lineHeight)
}

.Details-module__subtitleSkeleton___yZdJe {
    height: var(--gds-fontramp-subtitle2-lineHeight)
}

.ShowAllCard-module__showAllCard___zybpw {
    background-color: var(--gds-backplateSolidSecondaryRest)
}

.ShowAllCard-module__label___UTNJ4 {
    bottom: 8px;
    font-family: var(--gds-fontramp-cta-fontFamily),Arial,Helvetica,sans-serif;
    font-size: var(--gds-fontramp-cta-fontSize);
    font-weight: unset;
    left: 8px;
    line-height: var(--gds-fontramp-cta-lineHeight);
    position: absolute;
    text-transform: uppercase
}

body[data-media-type=tv] .ShowAllCard-module__label___UTNJ4 {
    bottom: 18px;
    left: 18px
}

.ShowAllCard-module__icon___j\+8cA {
    position: absolute;
    right: 8px;
    top: 8px
}

body[data-media-type=tv] .ShowAllCard-module__icon___j\+8cA {
    right: 18px;
    top: 18px
}

/*# sourceMappingURL=xcloud-partner.bd75cc68.chunk.css.map*/
