ul.social-buttons
{
    margin-bottom: 0;
}

ul.social-buttons li a
{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active
{
    background-color: #ffcf4b;
}

ul.footer-buttons
{
    margin-bottom: 0;
}

ul.footer-buttons li a
{
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.footer-buttons li a:hover,
ul.footer-buttons li a:focus,
ul.footer-buttons li a:active,
{
    background-color: #ffcf4b;
}

ul.footer-buttons li a:hover,
ul.footer-buttons li a:focus,
ul.footer-buttons li a:active,
{
    background-color: #1e88bd;
}