a {
	text-decoration: none;
	/* color: white; */
}

div[role="main"] {
	counter-reset: demo;
}

div[role="main"]:after {
	content: '';
	display: block;
	clear: both;
}

	a[data-property] {
		width: 150px;
		height: 150px;
		box-sizing: border-box;
		background: slategray;
		color: white;
		font-size: 60px;
		line-height: 150px;
		text-align: center;
		counter-increment: demo;
		outline-color: transparent;
	}
	
	body.in-page a[data-property]:not(:target) {
		opacity: .2 !important;
	}
	

	
		a[data-property]:after {
			content: attr(data-property);
			position: absolute;
			right: 0;
			left: 0;
			bottom: -1.2em;
			z-index: 2;
			color: slategray;
			font-size: 14px;
			line-height: 1;
			text-indent: 0;
			text-shadow: none;
			letter-spacing: 0;
		}
	
		a[data-property]:before {
			content: counter(demo);
		}


input[type="radio"] + label {
	display: inline-block;
	background: #809070;
	color: white;
	text-shadow: .05em .05em .2em rgba(0,0,0,.8);
	cursor: pointer;
	box-shadow: 0 1px rgba(255,255,255,.6) inset;
}

input[type="radio"]:not(:checked) + label {
	background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
}

input[type="radio"]:checked + label {
	box-shadow: .05em .05em .4em .1em rgba(0,0,0,.8) inset;
}

.in-page input[type="radio"] + label {
}

#info {
	position: absolute;
	z-index: 2;
	width: 510px;
	height: 150px;
	padding: 10px 15px;
	box-sizing: border-box;
	overflow: hidden;
	background: black;
	color: white;
	text-align: left;
	transition:.5s;
}

.home > #info {

}
	
	#info h1 {
		color: slategray;
	}
	
	#info > a {
		position: absolute;
		right: 10px;
		width: 2em;
		line-height: 2;
		font-size: 80%;
		background: rgba(255,255,255,.25);
		color: black;
		text-align: center;
		border-radius: 0 50% 50% 0;
	}
	
	#info > a:hover {
		background: #809070;
	}
	
	#info > a[title="Previous"] {
		right: 36px;
		border-radius: 50% 0 0 50%;
	}

	dl {
		font-size: 80%;
	}
	
	dl:after {
		content: '';
		display: block;
		clear: both;
	}
	
		dt {
			float: left;
			clear: left;
			width: 6em;
			color: gray;
		}
		
		dd {
			float: left;
			clear: right;
			white-space: nowrap;
		}
		
			dd > a {
				color: inherit;
			}
			
				dd > a > img {
					margin-right: 5px;
					vertical-align: -8px;
					border-radius: 12px;
				}
				